.filter {
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 12px;
  margin-top: 30px;
  border-radius: 25px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 12px;
}

.filter-list li a {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  margin-bottom: 5px;
}

.filter-list li a:hover:not(.header) {
    background-color: #eee;
}

.app_title, .app_description, .app_title_sub{
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 15px;
  margin-bottom: 0px;
}

button{
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}
